useDynLib(mgwrsar, .registration = TRUE)
import(sp)
import(leaflet)
#import(Rcpp)
import(doParallel)
import(foreach)
import(htmltools)
importFrom("Matrix","Matrix","Diagonal","sparseMatrix","drop0","nnzero")
importFrom("nabor","knn")
importFrom("spgwr","gwr")
importFrom("methods", "as")
importFrom(Rcpp, evalCpp)
importFrom("stats", "D", "as.formula", "coefficients", "contrasts","cooks.distance", "dist", "lm", "lm.fit", "median","model.extract", "model.frame", "model.matrix", "optimize","pf", "predict", "printCoefmat", "quantile", "sd","setNames", "terms", "update")
##wrapper
export("MGWRSAR")
export("assign_control")
## method
export("bandwidths_mgwrsar")
export("summary_mgwrsar")
export("predict_mgwrsar")
export("plot_mgwrsar")
## estimation functions
export("GWR")
export("MGWR")
export("mod")
export("SARHS")
export("set0_conditionXD")
export("Sl_C")
export("fastlmLLT_C")
export("PhWY_C")
export("QRcpp2_C")
export("QRcpp_C")
export("int_prems")
export("INST_C")
export("Proj_C")
## prediction
export("BP_pred_MGWRSAR")
export("BP_pred_SAR")
export("Beta_extropolation")
## evaluation
export("me_gwrsar")
export("bias_gwrsar")
export("CV")
export("aic_model")
export("indice_aggreg")
## bootstrap_test
export("Sidak_cor_MGWR")
export("Tf")
export("mgwrsar_bootstrap_test")
export("mgwrsar_bootstrap_test_all")
## kernels
export("GPKj")
export("GD")
export("GX")
export("GDX")
export("GDC")
export("GDXC")
export("GDXC3")
export("GDXC4")
export("GDXC5")
export("GDT")
export("GDTX")
export("GDTC")
export("GDTXC")
export("GDXX")
export("GDXXC")
export("GDTXX")
export("GDTXXC")
export("bin_C")
export("bisq_C")
export("bisq_knn_C")
export("gauss_C")
export("gauss_adapt_C")
export("gauss_knn_C")
export("gauss_adapt")
export("bisq")
export("EDK")
## matrix
export("ApproxiW")
export("normW")
export("summary_Matrix")
export("D_dense_C")
export("Dx_dense_C")
export("KNNX")
export("KNN")
export("kernelW_C")
export("kernel_C")
## bandwidth search
#export("fb")
export("SSR")
export("SSR_h")
export("SSR_h_bw")
export("incr_search_band")
export("support_search")
export("bandwidth_search")
export("bandwidth_searchW")
export("fill_DGPTAB")
export("model_conf")
export("init_DGPTAB")



